.publication-card__header {
  margin: 12px 0 12px 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (min-width: 768px) {
  .publication-card__header {
    font-size: 18px;
    line-height: 30px;
    margin-top: 20px;
  }
}
