.cogn-technology {
  position: relative;
  padding: 30px 16px 75px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .cogn-technology {
    padding: 58px 40px 290px;
  }
}

@media screen and (min-width: 1440px) {
  .cogn-technology {
    padding: 92px 165px 290px;
  }
}
