.footer__info {
  display: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.1px;
  color: #fff;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .footer__info {
    display: block;
    max-width: 211px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .footer__info {
    max-width: 263px;
  }
}
