.submenu__link {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  padding: 12px 18px;
  letter-spacing: 0.1px;
  transition: background-color .2s ease-in;
  background-color: transparent;
}

.submenu__link:hover {
  background-color: #001337;
}

@media screen and (min-width: 768px) {
  .submenu__link {
    padding: 12px 41px;
  }
}
