.news__description {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #000d26;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .news__description {
    font-size: 14px;
    line-height: 19px;
  }
}
