.feedback__button {
  height: 44px;
  border-radius: 5px;
  color: inherit;
  outline: none;
  border: 1px solid rgba(224, 240, 255, 1);
  cursor: pointer;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  background-color: inherit;
  transition: 0.2s all ease-in;
}

.feedback__button:hover {
  opacity: 0.3;
  transition: 0.2s all ease-in;
}


@media screen and (min-width: 710px) {
  .feedback__button {
    font-size: 18px;
    line-height: 30px;
    width: 210px;
    align-self: center;
    margin-top: 17px;
    border-radius: 10px;
  }
}

@media screen and (min-width: 1150px) {
  .feedback__button {
    width: 350px;
    height: 60px;
  }
}
