.news__card {
  padding: 16px 24px 16px 16px;
  background: #e0f0ff;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  height: auto;
  flex-shrink: 0;
}

@media screen and (min-width: 768px) {
  .news__card {
    padding: 20px;
  }
}
