.news {
  overflow: hidden;
  padding: 12px 20px 71px;
  position: relative;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .news {
    padding: 15px 39px 110px;
  }
}

@media screen and (min-width: 1440px) {
  .news {
    padding-top: 0;
    padding-bottom: 135px;
    margin-left: 95px;
    margin-right: 95px;
    padding-left: 80px;
    padding-right: 80px;
  }
}
