.menu {
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  display: none;
}

@media screen and (min-width: 768px) {
  .menu {
    top: 61px;
  }
}

@media screen and (min-width: 1024px) {
  .menu {
    position: static;
    width: auto;
    display: block;
  }
}
